.comment__page {
  background: var(--bg-color);
  max-height: 655px;
  overflow: hidden;
  height: 100%;
}
.comment__page__header {
  background: #fff;
  padding: 3rem 0 2.5rem 2.5rem;
}
.comment__page__flex {
  display: flex;
  gap: 3rem;
}
.comment__page__flex-left {
  width: 50%;
  height: 558px;
  overflow-y: auto;
  padding-left: 2.5rem;
  padding-top: 1rem;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #57f088;
  border-radius: 4px;
}
.comment__page__flex-right {
  width: 35%;
  padding-left: 8px;
  height: max-content;
  padding-right: 20px;
}
