.user__list__section {
  flex-grow: 1;
  background: var(--bg-color);
  max-height: 655px;
  overflow: hidden;
}
.user__list__header {
  padding-top: 3rem;
  background: #fff;
  padding-bottom: 2.5rem;
  padding-left: 3rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.btn__group .btn {
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  background: #edf2f7;
  font-size: 1.5rem;
  line-height: 18px;
  font-weight: 500;
  transition: all linear 0.4s;
  color: var(--black-color);
}
.btn__group .btn:hover {
  background: #4c6fff;
  color: #ffff;
}
.user__list__body {
  padding-left: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-height: 510px;
  overflow-y: auto;
  padding-bottom: 2rem;
}
.user__list__body::-webkit-scrollbar {
  width: 9px;
}
.user__list__body::-webkit-scrollbar-track {
  background: #fff;
}
.user__list__body::-webkit-scrollbar-thumb {
  background: #57f088;
  border-radius: 4px;
}
